<style>
  #search-user, #btn-miss, #btn-cart, #btn-user, #cog { 
    display: none !important;
  }
</style>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Restablecer clave de {{user.email}}</h1>
    {{#if hasErrors}}
      <div class="alert alert-danger">
      {{# each messages }}
        <p>{{this}}</p>
      {{/each}}
      </div>
    {{/if}}
    <form action="/reset/{{user.resetPasswordToken}}" method="post">
      <div class="form-group">
        <label for="password">Nueva Clave</label>
        <input type="password" id="password" name="password" class="form-control">
      </div>
        <button name="submit" type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <a href="/users">Volver</a><br>    
  </div>
</div>