<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Iniciar sesión</h1>
    {{#if hasErrors}}
      <div class="alert alert-danger">
      {{# each messages }}
        <p>{{this}}</p>
      {{/each}}
      </div>
    {{/if}}
    <form action="/user/signin" method="post">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="text" id="email" name="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Clave</label>
        <input type="password" id="password" name="password" class="form-control">
      </div>
<<<<<<< HEAD
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <button name="submit" type="submit" class="btn btn-primary">Iniciar sesión</button>
    </form>    
  </div>
</div>
=======
        <button name="submit" type="submit" class="btn btn-primary">Iniciar sesión</button>
    </form>    
  </div>
</div>
>>>>>>> 5e4e23e3f92bc519cbe9a925671dc69bd9b4e0bd
