<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Crear usuario</h1>
    {{#if hasErrors}}
    <div class="alert alert-danger">
      {{# each messages }}
      <p>{{this}}</p>
      {{/each}}
    </div>
    {{/if}}
    <form action="/user/signup" method="post">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="text" id="email" name="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Clave</label>                              
        <input type="password" id="password" name="password" class="form-control">
      </div>
      <div class="form-group">
        <label for="role">Rol</label>
        <select name="role" class="form-control" id="role">                      
          <option value="usuario">usuario</option>
          <option value="administrador">administrador</option>                      
        </select>
      </div>              
      <button type="submit" class="btn btn-primary">Crear usuario</button>
    </form>
  </div>
</div>
